# Configuration file

general {
    # The refresh-rate used for syncing objects between server and client. A higher refresh-rate will decrease bandwidth and CPU usage, but will also cause objects to appear to lag
    I:refreshRate=5

    # Should the ingame 'Mod Options' button be replaced with a 'Mods' button that actually works?
    B:replaceModOptions=true

    # The ID of the texture map that SpACore assigns
    I:textureMapId=10
}


